.table {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: white;
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--color-primary-light);
  border-radius: 20px;
  box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);

  &__header {
    display: flex;
    border-bottom: 1px solid white;
    color: var(--color-primary-dark);

    &__cell1 {
      flex: 0 0 45%;
    }
    &__cell2 {
      flex: 0 0 15%;
    }
    &__cell3 {
      flex: 0 0 40%;
    }
  }

  &__data {
    display: flex;

    &__cell1 {
      flex: 0 0 45%;
      border: 1px solid white;
      padding-left: 2rem;
    }
    &__cell2 {
      flex: 0 0 15%;
      border: 1px solid white;
      padding-left: 2rem;
      text-align: center;
    }
    &__cell3 {
      flex: 0 0 40%;
      border: 1px solid white;
      padding-left: 2rem;
    }
  }

  @media screen and (max-width: 1400px) {
    & {
      font-size: 2rem;
    }
    &__header {
      &__cell1 {
        flex: 0 0 45%;
      }
      &__cell2 {
        flex: 0 0 25%;
      }
      &__cell3 {
        flex: 0 0 30%;
      }
    }

    &__data {
      display: flex;

      &__cell1 {
        flex: 0 0 45%;
        border: 1px solid white;
        padding-left: 2rem;
      }
      &__cell2 {
        flex: 0 0 25%;
        border: 1px solid white;
        padding-left: 2rem;
        text-align: center;
      }
      &__cell3 {
        flex: 0 0 30%;
        border: 1px solid white;
        padding-left: 2rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    & {
      font-size: 1rem;
    }
    &__header {
      &__cell1 {
        flex: 0 0 34%;
      }
      &__cell2 {
        flex: 0 0 33%;
      }
      &__cell3 {
        flex: 0 0 33%;
      }
    }

    &__data {
      display: flex;

      &__cell1 {
        flex: 0 0 34%;
        border: 1px solid white;
        padding-left: 1rem;
      }
      &__cell2 {
        flex: 0 0 33%;
        border: 1px solid white;
        padding-left: 1rem;
        // text-align: center;
      }
      &__cell3 {
        flex: 0 0 33%;
        border: 1px solid white;
        padding-left: 1rem;
      }
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
  }

  &__icon-green {
    fill: green;
  }
  &__icon-red {
    fill: red;
  }
  &__icon-yellow {
    fill: yellow;
  }
}

.green {
  color: greenyellow;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
